body {
  font-family: 'Lora', serif;
}

h4 {
  font-weight: 700;
}

h6 {
  font-weight: 600;
}

h6.tech-stack {
  text-decoration: underline;
}

.main-container {
  max-width: 850px;
}

img.profile-pic {
  width: 200px;
  height:200px;
  max-width: 100%;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  transform: rotate(-45);
}
a.btn {
  margin-bottom: 5px;
  font-family: 'Signika', sans-serif;
}

ul.contact-list li{
  display: inline;
  padding: 10px;
  margin-bottom: 3em;
}
a {
  color: black;
  font-weight: 300;
}

h1.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
div.title{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  border: solid;
  border-color: gray;
  border-top-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-color: #cccccc;
  padding-top: 0.5em;
  margin-bottom: 10px;
}

img.card-img-top-eatee {
  height: 200px;
  width: 110px;
  display: inline;

}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


